---
import { type CollectionEntry, getCollection, render } from "astro:content";
import ProseLayout from "../../layouts/ProseLayout.astro";

export interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

if (!post) return Astro.redirect("/404");

const { data } = post;
const { Content, headings } = await render(post);
---

<ProseLayout
  title={data.title}
  date={data.publishDate}
  description={data.description}
  annotation="highlight"
  headings={headings}
>
  <Content />
  <div class="bios" slot="after-content"></div>
</ProseLayout>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
</style>
