---
import siteInfo from "../data/site-info";
import Subscribe from "./Subscribe.astro";

const { socialLinks } = siteInfo;
---

<footer>
  <div class="content">
    <div class="social">
      {
        Object.values(socialLinks).map(({ href, Icon, text }) => (
          <a {href} title={text} target="_blank" rel="noopener">
            <Icon size={28} />
          </a>
        ))
      }
    </div>
  </div>
  <div class="content">
    <Subscribe />
  </div>
</footer>

<style lang="scss">
  footer {
    background: var(--text);
    color: var(--bg);
    width: 100%;
    padding-block: var(--space-xl);
    margin-block-start: var(--space-2xl);
    padding-bottom: var(--space-3xl);

    :focus-visible {
      outline-color: var(--bg);
    }

    @media (hover: hover) {
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    padding-inline: var(--space-xl);
    width: 100%;
    margin-inline: auto;
    display: flex;

    + .content {
      margin-block-start: var(--space-xl);
    }
  }

  .social {
    display: flex;
    gap: var(--space-m);
  }
</style>
