---

---

<header>
  <a href="/" aria-label="LandmarkIRL homepage" id="logo">LandmarkIRL</a>
  <nav>
    <a href="/tags">Tags</a>
    <a href="/blog" class="outline">Blog</a>
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    margin-inline: auto;
  }

  a {
    padding: var(--space-xs) var(--space-s);
    margin: calc(var(--space-xs) * -1);
    font-size: var(--step--2);
    font-weight: 600;
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: var(--space-l);
    margin-inline-start: auto;

    a {
      --nav-border: transparent;
      border: 3px solid var(--nav-border);
      border-radius: 3px;
      display: inline-flex;
      gap: var(--space-xs);

      &.outline {
        --nav-border: var(--text);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--text);
          color: var(--bg);
        }
      }
    }
  }
</style>
