---

---

<span class="logo-text"> LandmarkIRL </span>

<style>
  .logo-text {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    white-space: nowrap;
    line-height: 1;
  }
</style>
